{% extends "base.html" %}
    {% block title %} Login {% endblock %}
    {% load static %}
    {% block body %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center vh-100">
                <div class="col-md-9 col-lg-6 col-xl-5"> 
                    <img src="{% static '/images/Untitled-2.png'%}" class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-6 col-lg-3 col-xl-2 offset-xl-1 mt-5">
                    <div class="mb-3 text-center">
                        <img src="{% static '/images/icpro.png'%}" alt="Sample image" class="img-fluid" style="width: 75%;"/>   
                    </div>
                    <form id="login_from" method="POST" action="" class="login100-form validate-form">
                        {% csrf_token %}
                        <div class="form-outline mb-3" data-validate = "Email required">
                            <input class="form-control" type="text" name="email" placeholder="Your Company Email">
                            <label class="form-label">E-mail</label>
                        </div>
                        <div class="text-center text-lg-start">
                            <button type="submit" value="Send email" class="btn btn-info form-control text-capitalize">Reset Password</button>
                        </div>
                        <div class="text-center pt-3 small">
                            <span class="text-body">
                                Back To
                            </span>
                            <a href="/">
                                Employee Login
                            </a>
                        </div>
                    </form>
                </div>                                          
            </div> 
        </div>                                             
    </section>
    {% endblock %}