{% extends "base.html" %}
    {% block title %} Login {% endblock %}
    {% load static %}
    {% block body %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center vh-100">
                <div class="col-6"> 
                    <img src="{% static '/images/Untitled-2.png'%}" class="img-fluid" alt="Sample image">
                </div>
                <div class="col-4">
                    <div class="mb-5 text-center">
                        <img src="{% static '/images/icpro.png'%}" alt="Sample image" class="img-fluid" style="width: 35%;"/>   
                    </div>
                    <div class="nowrap text-center">
                        <h4 class="text-success">Success!!</h4>
                        <div class="small">
                            <span>Your password has been reset </span><a href="/">Click here to Login</a>.       
                        </div>
                    </div>   
                </div>                                          
            </div> 
        </div>                                             
    </section>
    {% endblock %}