{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% load static %}
    {% block body %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center vh-100">
                <div class="col-6"> 
                    <img src="{% static '/images/Untitled-2.png'%}" class="img-fluid" alt="Sample image">
                </div>
                <div class="d-flex flex-column justify-content-center align-items-center col-4">
                    <div class="mt-5">
                        <div class="mb-3 text-center">
                            <img src="{% static '/images/icpro.png'%}" alt="Sample image" class="img-fluid" style="width: 75%;"/>   
                        </div>
                        <form id="login_from" method="POST">
                        {% csrf_token %}
                            <!-- New password input -->
                            <div data-mdb-input-init class="form-outline mb-3">
                            <input type="password" name="new_password1" class="form-control" placeholder="New Password"/>
                            <label class="form-label" for="form3Example3">New password</label>
                            </div>

                            <!-- Confirm password input -->
                            <div data-mdb-input-init class="form-outline mb-3">
                                <input type="password"  name="new_password2" class="form-control" placeholder="Confirm Password" />
                                <label class="form-label" for="form3Example4">Confirm Password</label>
                            </div>

                            <div class="text-center text-lg-start">
                                <button type="submit" name="submit" value="Reset Password" class="btn btn-info form-control text-capitalize" style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                            </div>
                        </form>
                    </div> 
                    {% for field,errors in form.errors.items%}
                    <label class="text-danger mt-3">
                        {{errors}}
                    </label>
                    {% endfor %}
                </div>                                    
            </div> 
        </div>                                             
    </section>
    {% endblock %}