{% extends "base.html" %}
    {% block title %} Login {% endblock %}
    {% load static %}
    {% block body %}
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center vh-100">
                <div class="col-6"> 
                    <img src="{% static '/images/Untitled-2.png'%}" class="img-fluid" alt="Sample image">
                </div>
                <div class="col-4">
                    <div class="mb-5 text-center">
                        <img src="{% static '/images/icpro.png'%}" alt="Sample image" class="img-fluid" style="width: 35%;"/>   
                    </div>
                    <div class="nowrap">
                        <h4 class="text-center">Password reset sent</h4>
                        <p class="my-0">We have emailed you the instructions for resetting your password.</p>
                        <p>If you don't recieve a mail. Please make sure you have entered correct email address.</p>       
                    </div>   
                </div>                                          
            </div> 
        </div>                                             
    </section>
    {% endblock %}